<h1> Details of: {{ book.title }} </h1>

<h2>by {{ book.author.firstName }} {{ book.author.lastName }}</h2>

<p><b>Description:</b>{{ book.description }}</p>

<p><b>Rating: </b>{{ book.rating }}</p>
<br>

<a href="/books/{{book._id}}/edit"> Edit </a>
<br>
<a href="/books">Go to books list page</a>