<ul>
    {{#each artists}}
        <li>{{ this.name }}
            <br>
            {{#if this.images}}
                <img src="{{this.images.2.url}}" alt="{{this.name}}" />
            {{else}}
                <img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG" alt="{{this.name}}"
                    style="width: 160px" />
            {{/if}}
            <br>
            {{!-- app.get('/albums/:artistId'....) --}}
            <a href="/albums/{{this.id}}">View albums</a> </li>
    {{/each}}
</ul>